<div class="container">
  <button mat-raised-button color="primary" routerLink="/edition-utilisateur">
    <mat-icon fontIcon="person_add"></mat-icon>
    Ajouter un utilisateur
  </button>

  <div class="row">
    @for (utilisateur of listeUtilisateurs; track $index) {

    <div class="col-12 col-md-6 col-lg-4 mt-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ utilisateur.prenom }} {{ utilisateur.nom }}</mat-card-title
          >
          <mat-card-subtitle>{{
            utilisateur.admin ? "ADMINISTRATEUR" : "UTILISATEUR"
          }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://placehold.co/600x400/png"
          alt="Photo de l'utilisateur"
        />
        <mat-card-content>
          <p>Description de l'utilisateur</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/edition-utilisateur',utilisateur.id]">Modifier</button>
          <button mat-raised-button color="warn" (click)="supprimeUtilisateur(utilisateur.id)">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>

    }
  </div>
</div>
